[flake8]
ignore = E501, W503
max-line-length = 120
exclude = 
    .git,
    __pycache__,
    env,
    venv,
    .env,
    build,
    dist,
    .mypy_cache,
    .pytest_cache,
    .venv,
    .tox,
    .eggs,
    .idea,
    .vscode
